.vscode
.idea
builds/

## OSX
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

## Linux
*~

## Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

vendor

transbank-webpay-plus-rest.zip
transbank-webpay-plus-rest-guzzle7.zip

docker-woocommerce